body {
    background-color: black;
    font-family: charter;
    color: white;
    vertical-align: top;
    margin-left: 1em;
    margin-right: 1em;
    width: 23em 
}

p {
    font-size: 20px;
}

div.container {
    display:inline-block;
}